/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: pink;
    color: black;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 70px;

}

nav ul li a {
    color: black;
    text-decoration: none;
}

.books{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.p{
    margin-left: 70px;

}

.p1{
    margin-left: 80px;
}
.b{
    background-color: pink;
    height: 50px;
    width: 70px;
    margin-left: 80px;
}
.books{
    background-color: azure;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  h1 {
    background-color: pink;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  

  }

  
  .input-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  input[type="number"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 10px 20px;
    background-color: pink;
    color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: deeppink;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  li:hover {
    background-color: #f2f2f2;
  }
  
  li span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  li button {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  li button:hover {
    color: #333;
  }
  .container:hover{
    background-color: white;
  }
  .contact{
    background-color: pink;
    height: 50px;
    text-align: center;
    padding-top: 4px;
  }
